################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Website/DocumentationGenerator/obj
/.vs
/src/Website/DocumentationGenerator/.vs/DocumentationGenerator/v15
